#!.gitconfig para SO Windows
[user]
	name = 
	email = 

[fetch]
	prune = true

[push]
	default = simple

[color]
	diff = auto
	status = auto
	branch = auto
	ui = true

s[init]
	defauldBranch = main

[core]
	editor = nvim
	autocrltf = true
