[user]
	name = Josue Romero
	email = tucorreo@gmail.com

[fetch]
	prune = true

[push]
	default = simple

[color]
	diff = auto
	status = auto
	branch = auto
	ui = true

s[init]
	defauldBranch = main

[core]
	editor = nvim
	autocrltf = true
